#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div.tc.ia_table__cell.ia_powerChartComponent__penDataDisplay__table__bodyCell.ia_powerChartComponent__penDataDisplay__table__separatorCell > div > div > svg.ia_powerChartComponent__penDataDisplay__table__icon.edit-pen-icon {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div.tc.ia_table__cell.ia_powerChartComponent__penDataDisplay__table__bodyCell.ia_powerChartComponent__penDataDisplay__table__separatorCell > div > div > svg.ia_powerChartComponent__penDataDisplay__table__icon.delete-pen-icon {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(3) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(4) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(5) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(6) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(7) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(8) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(9) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(4) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(5) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(6) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(3) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-body > div > div > div.ia_powerChartComponent__noDataDisplay.no-data-message > div:nth-child(1) {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-body > div > div > div.ia_powerChartComponent__noDataDisplay.no-data-message > div:nth-child(2) {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(7) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(8) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.th-container.ia_table__headContainer > div > div > div:nth-child(9) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div.tc.ia_table__cell.ia_powerChartComponent__penDataDisplay__table__bodyCell.ia_powerChartComponent__penDataDisplay__table__separatorCell > div > div > svg.ia_powerChartComponent__penDataDisplay__table__icon.edit-pen-icon {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div.tc.ia_table__cell.ia_powerChartComponent__penDataDisplay__table__bodyCell.ia_powerChartComponent__penDataDisplay__table__separatorCell > div > div > svg.ia_powerChartComponent__penDataDisplay__table__icon.delete-pen-icon {
	display: none !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(3) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(4) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(5) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(6) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(7) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(8) > div {
	justify-content: center !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer > div > div > div > div.t.ia_table.ia_container--secondary > div.tb.ia_table__body > div.flexBody > div > div.tr.ia_table__row.ia_table__body__row.undefined.ia_powerChartComponent__penDataDisplay__table__bodyRowOdd > div:nth-child(9) > div {
	justify-content: center !important;
}

#app-container > div > div.center-column.flex-col > div > div.ia_container--root.flex-container.responsive-container.ia_container--primary.view > div > div.view-parent > div > div:nth-child(1) > div > div:nth-child(2) > div.chart-container > div.chart-body > div {
	margin: 0 5px !important;
}

div.ia_accordionComponent > div {
	height: 100% !important;
}

div.ia_accordionComponent > div > div.view-parent.ia_accordionComponent__body.ia_accordionComponent__body__view.ia_accordionComponent__body--expanded {
	flex: 1 1 auto !important;
}

#CustomPowerChart > div.chart-container > div.chart-footer.mobile > div > div > div > div.ia_powerChartComponent__penDataDisplay--mobile > div.ia_powerChartComponent__penDataDisplay--mobile__penTable.pen-table.ia_powerChartComponent__penDataDisplay__table__bodyRowEven > div:nth-child(1) > div.cell.last > svg {
	display: none !important;
}

div.ia_dashboardComponent__control.dashboard-control {
	display: none !important;
}

div.time-series-chart-component {
	padding: 0px !important;
	width: auto !important;
}

#CustomNumericEntry > div > input {
	padding: 0px !important;
	max-width: 68px !important;
}

.leaflet-pane .view-marker.hide {
    opacity: 1;
    visibility: visible !important;
}
